header {
    text-align: center;
    width: 100%;
    background-color: rgb(204, 204, 204);
}

.top-head {
    color: black;
    display: flex;
    background-color: grey;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.bot-head {
    color: black;
    display: flex;
    background-color: grey;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.bot-head select {
    position: relative;
    left: 2%;
    width: 10%;
}

.bot-head .filter {
    width: 15%;
    overflow: hidden;
    display: flex;
    margin: auto;
}

.bot-head .filter input {
    padding-left: 5%;
    width: 95%;
}

.bot-head .article-button {
    position: relative;
    right: 3%;
}